@font-face {
    font-family: theFont;
    src: url('../font/Roboto-Regular.ttf');
}

*{
    padding: 0;
    margin: 0;
    font-family: theFont;
}

*:focus {
    outline: none;
}

#main{
    display: block;
    margin-left: 243px;
    margin-top: 79px;
}

.left-container{
    display: inline-block;
    float: left;
}

.form{
    font-family: theFont;
    width: 215px;
    height: 27px;
    border: solid 1px #B7967D;
    background-color: #E5DAAA;
    padding-left: 7px;
    color: #49463D;
    border-right: none;
}
.btn-select{
    font-family: theFont;
    width: 70px;
    height: 27px;
    border: solid 1px #B7967D;
    background-color: #E5DAAA;
    color: #49463D;
    outline: none;
}
.btn-search{
    text-decoration: none;
    border: none;
    width: 66px;
    height: 27px;
    background-color: #B7967D;
    color: #49463D;
    outline: none;
}
.search-cover{

    width: 467px;
    height: 90px;
    background-color: #D1CBB3;
    margin-top: 20px;
    padding: 11px;
}
.search-title{
    font-size: 16px;
    width: 224px;
    height: 25px;
    background-color: #49463D;
    color: #C7C2AA;
    text-indent: 5px;
    margin: 0;
}

.search-inner {
    width: 100%;
    height: 100%;
    border-top: solid 1px rgba(73, 70, 61, 0.48);
    border-right: solid 1px rgba(73, 70, 61, 0.48);
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-form{
    display: inline-block;
}

.article-container{
    display: inline-block;
    float: left;
    /*margin-top: 79px;*/
    margin-left: 20px;
}
.article-content{
    height: 495px;
}


.video-container{
    display: inline-block;
    margin-top: 10px;
}

.savedWord{
    width: 100%;
    text-align: center;
}

.video-content{
    margin-top: 0;
    height: 100%;
}

.inner-image img{
    max-width: 100%;
    max-height: 100%;
}

.image-content{
    padding: 15px;
    height: 385px;
}

.inner-image{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #AEA894;
    width: calc(100% - 6px);
    height: 100%;
}

.default_img{
    font-family: theFont;
    color: #49463D;
    font-weight: bold;
    font-size: 4em;
}

.video-content{
    padding-right: 0;
    background-color: #D1CBB3;
    height: 385px;
    overflow-y: scroll;
}

.video-content::-webkit-scrollbar{
    width: 8px;
}

.video-content::-webkit-scrollbar-track{
    background-color: #D1CBB3;
}

.video-content::-webkit-scrollbar-thumb{
    background-color: #49463D;
}

.left-cover{
    margin-top: 45px;
}

.list-title{
    position: relative;
    justify-content: space-between;
    font-size: 25px;
}

.delTitle{
    font-size: 18px;
    padding: 6px;
    background-color: #A39F8B;
    color: #49463D;
    margin-right: 8px;
    cursor: pointer;
}

.list-title p{
    float: left;
    font-family: theFont;
    color: #49463D;
    padding: 0;
    margin: 0;
    margin-left: 10px;
}

.count{
    font-family: theFont;
    margin-left: 10px;
    color: #49463D;
}

.anchor-def{
    display: none;

    white-space: pre-wrap;      /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -o-pre-wrap;   /* Opera 7 */
    word-wrap: break-word;      /* IE */
}

.word-link{
    padding-left: 10px;
    font-family: theFont;
    color: #49463D;
    font-size: 16px;
    background-color: #A39F8B;
    display: block;
    width: calc(100% - 55px);
}

.word-link:hover{
    text-decoration: none;
    color: #49463D;

}

.outer-word-display{
    position: relative;
    border: 1px solid #A39F8B;
    margin-bottom: 8px;
    background-color: #A39F8B;
    width: calc(100% - 2px);

}
.outer-word-display:hover{
    border: 1px solid rgba(73, 70, 61, 0.48);
}

.word-icon{
    background-color: #E4DAAB;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 25px;
    width: 55px;
    position: absolute;
    font-size: 16px;
    color: #49463D;
    top: 0;
    right: 0;
}

.fa-trash-alt{
    cursor: pointer;
}

.fa-edit{
    cursor: pointer;
}

.anchor-def{
    font-family: theFont;
    padding: 8px;
    color: #49463D;
    font-size: 15px;
    background-color: #C7C2AA;
    pointer-events:none;
}

.dis-example{
    font-style: italic;
    font-weight: bold;
}

.dis-example span{
    font-style: normal;
    font-weight: normal;
}

.elipsisBtn{
    font-family: theFont !important;
    left: -81px !important;
    background-color: #D1CBB3;
    color: #49463D;
    border: solid 1px rgba(73, 70, 61, 0.48) !important;
}

.elipsisBtn{
    cursor: pointer;
}

.elipsisBtn a:hover{
    background-color: #A39F8B;
}

.elipsisBtn span:hover{
    background-color: #A39F8B;
}

/*confirmation modal css*/

.outer-upload{
    display: inline-block;
    width: 48%;
    font-size: 14px;
    font-family: theFont;
    margin-top: 1rem;
    border: solid 1px rgba(73, 70, 61, 0.48);
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 10px;
    padding-right: 10px;
    color: #49463D;
}

.upload-button{
    width: 47%;
    height: 24px;
    background-color: #49463D;
    color:#D1CBB3;
    cursor: pointer;
    text-align: center  ;
    margin: 0;
    padding-top: 1px;
}

.createURLimage{
    float: right;
    border:none;
    font-size: 14px;
    font-family: theFont;
    width: 47%;
    height: 24px;
    background-color: #A39F8B;
    color:#49463D;
    text-align: center;
    margin: 0;
    padding: 0;
}

.createURLimage:hover{
    background-color: #49463D;
    color: #D1CBB3;
}

.imageURLinput{
    width: 100%;
}

.imageURLinput input{
    padding-left: 10px;
    margin-top: 1rem;
    width: 100%;
    height: 24px;
    border: solid 1px rgba(73, 70, 61, 0.48);
    background-color: #E4DAAB;
    font-family: theFont;
    color: #49463D;
}

.modal-content{
    background-color: #D1CBB3;
    border-radius: 0;
    border: solid 1px #49463D;
}

.modal-header{
    font-family: theFont;
    font-size: 16px;
    color: #D1CBB3;
    background-color: #49463D;
    border-radius: 0;
    border-bottom: 0;
    width: 100%;
    height: 40px;
    padding: 10px;
}

.def-desc h6{
    font-family: theFont;
    font-size: 16px;
    margin-bottom: 5px;
}

.def-desc{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 10px;
    padding-left: 10px;
    border: solid 1px rgba(73, 70, 61, 0.48);
}

.form-group{
    margin-bottom: 0;
}

.modal-footer{
    border-top: 1px solid #49463D;
    padding: 8px;
    display: flex;
    justify-content: center;
}

.close-modal{
    font-family: theFont;
    color: #49463D;
    border-radius: 0;
    background-color: transparent;
    border: solid 1px #49463D;
    width: 67px;
    height: 27px;
    padding: 0;
    margin-right: 8px;
}

.close-modal:hover{

    background-color: #570005;
    border: solid 1px #570005;
    color: #D1CBB3;
}

.body-top{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 1rem;
    /*border-bottom: solid 1px rgba(73, 70, 61, 0.48);*/
}

.outer-word{
    display: inline-block;
    width: 31%;
    border: solid 1px #49463D;
}

.inner-word{
    border: none;
    width: 100%;
    font-family: theFont;
    font-size: 15px;
    color: #49463D;
    background-color: #E4DAAB;
    padding-left: 10px;
}

.outer-example{
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}

.inner-example{
    width: 100%;
    font-family: theFont;
    font-size: 15px;
    color: #49463D;
    background-color: #E4DAAB;
    padding-left: 10px;
    border: solid 1px rgba(73, 70, 61, 0.48);
}

.ajax-btn{
    font-family: theFont;
    color: #D1CBB3;
    border-radius: 0;
    background-color: #49463D;
    border: solid 1px #49463D;
    width: 67px;
    height: 27px;
    padding: 0;
    margin-left: 8px;
}

.ajax-btn:hover{

    background-color: #263446;
    border: solid 1px #263446;
    color: #D1CBB3;
}

/*styling image div*/

.outer-image{
    border: solid 1px rgba(73, 70, 61, 0.48);
    display: inline-block;
    float: right;
    margin-top: 1rem;
    width: 48%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 10px;
    padding-right: 10px;
}

.review-image{
    max-width: 100%;
}

#main{
    display: block;
    margin-left: 243px;
    margin-top: 79px;
}


/*prompt messages after deleting a block of word*/

.prompt-msg{
    font-family: theFont;
    font-size: 17px;
    position: fixed;
    display: none;
    background-color: #49463D;
    color: #D1CBB3;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    left: 200px;
    bottom: 50px;
    z-index: 2;
}

.inner-example::-webkit-scrollbar{
    width: 8px;
}

.inner-example::-webkit-scrollbar-track{
    background-color: #A39F8B;
}

.inner-example::-webkit-scrollbar-thumb{
    background-color: #49463D;
}

.inner-example{
    resize: none;
}

.slide-saved-word{
    display: none;
    border: solid 1px rgba(73,70,61,0.48);
    font-size: 20px;
    position: fixed;
    right: 0;
    top: 68px;
    color: #49463D;
    background-color: #A39F8B;
    padding-right: 5px;
    padding-left: 5px;
    transition: all .7s ease
}

.slide-saved-word:hover{
    background-color: #49463D;
    color: #D1CBB3;
}

.outer-spinner{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.share-spinner{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.share-spinner div{

    height: 1rem !important;
    width: 1rem !important;
}

.outer-spinner div{
    height: 6rem;
    width: 6rem;

    color: #49463D !important;
}

.sr-only{
    font-weight: 900 !important;

}

@media (max-width:1215px){
    #main{
        margin-left: 0;
    }

    .main-outer{
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 980px) {
    #main{
        width: 88%;
    }

    .left-container{
        width: 49%;
    }

    .article-container{
        width: 48%;
        float: right;
    }

    .video-container{
        width: 100%;
    }
    .search-cover{
        width: 100%;
    }
}

@media (max-width: 914px) {
    .form{
        width: 57%;
    }
    .btn-search{
        width: 16%;
    }
}

@media(max-width: 772px){
    .left-container{
        width: 0;
        z-index: 3;
        top: 58px;
        right: 0;
        position: fixed;
        bottom: 0;
        background-color: #D1CBB3;
        transition: all .7s ease
    }

    .modal-backdrop{
        z-index: unset;
    }

    .left-container-active{
        width: 250px;
    }

    .btn-position{
        right: 250px;
    }

    .slide-saved-word{
        z-index: 1;
        display: block;
    }

    .nameList{
        font-size: 16px;
        display: inline;
    }

    .list-title p{
        float: unset;
    }

    .count{
        font-size: 16px;
        display: inline;
    }
    .article-container{
        width: 100%;
        margin-top: 20px;
    }
    .search-form{
        width: 100%;
    }
    .input-group{
        justify-content: center;
    }

    /*saved word css*/

    .search-title{
        display: none;
    }
    .smallScreen-content{
        margin-top: 0;
        width: 250px;
        height: 100%;
    }

    .small-search-cover{
        margin-top: 0;
        width: 250px;
        height: unset;
    }

    .inner-small-content{
        height: 85%;
        padding-top: 0;
    }

    .small-article{
        margin: 0;
    }

    .alter-title{
        display: block !important;
    }

    .left-cover{
        margin-top: 20px;
    }

    .delDropdown{
        right: 31px;
        bottom: 5px;
    }

    .elipsisBtn{
        left: -15px !important;
    }
}

@media (max-width: 500px) {

    #main{
        width: 100%;
    }
}
